canvas {
    background-image: url(https://thumbs.dreamstime.com/b/site-improvement-landscape-tourist-camp-forest-top-view-vector-illustration-mountains-stones-hills-river-trees-plants-92012359.jpg);
    background-size: cover;
}

* {
    background-color: aquamarine;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-title {
    size: 25;
    color: rgb(250,152,125);
    font-family: chalkduster, fantasy;
}

p {
    size: 12;
    color: rgb(250,152,125);
    font-family: chalkduster, fantasy;
}