

canvas {
    background-image: url("../images/new_park_illustration_fixed.png");
    background-size: cover;
}


* {
    background-color: aquamarine;
}

#everything-except-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // align-items: center;
}

.title-and-mute {
    // margin-left: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mute-button {
    visibility: hidden;
    width: 7%;
    height: 50%;
    color: rgb(250,152,125);
    margin-top: 3%;
}

.mute-button:hover {
    cursor: pointer;
}

.opened-instructions {
    display: flex;
    flex-direction: row;
    color: rgb(108,177,250);
    border: solid;
    border-width: 2px;
    border-color: rgb(108,177,250);
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;

}

#instructions p{
    font-family: chalkduster, fantasy;
    color: rgb(108,177,250);
    font-size: 12px;
}

#ready-to-play {
    padding: 10px;
    margin: 10px;
    // color: rgb(250,152,125);
    color:#f297d2;
    font-family: chalkduster, fantasy;
    font-size: 15px;
    border-radius: 10px;
    // border-color: rgb(250,152,125);
    border-color: #f297d2;
    border-style: solid;
}

#ready-to-play:hover {
    color: rgb(108,177,250);
    font-size: 20px;
    border-color: rgb(108,177,250);
    border-style: solid;
}

#end-stats {
    color: rgb(108,177,250);
    font-size: 25px;
    font-family: chalkduster, fantasy;
}



// body {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
// }

#main-title {
    size: 25;
    color: rgb(250,152,125);
    font-family: chalkduster, fantasy;
    margin-left: 9%;
}

#how-to-play {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color:rgb(250,152,125);
    font-family: chalkduster, fantasy;
    color: rgb(250,152,125);
    font-size: 15px;
}

#how-to-play:hover {
    color: rgb(108,177,250);
    font-size: 20px;
    border-color: rgb(108,177,250);
    border-style: solid;
}

#close-instructions {
    font-size: 30px;
    font-family: chalkduster, fantasy;
    color: rgb(250,152,125);
    border-color:rgb(250,152,125);
    border-radius: 10px;
    border-style: solid;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 1.5%;
}

#close-instructions:hover {
    cursor: pointer;
    color:#f0b0da;
    border-color: #f0b0da;
}

#back-to-practice {
    border-radius: 10px;
    border-style: solid;
    border-color:rgb(250,152,125);
    font-family: chalkduster, fantasy;
    color: rgb(250,152,125);
    font-size: 15px;
    margin: 5px;
    padding: 5px;
}

#back-to-practice:hover {
    color: rgb(108,177,250);
    font-size: 20px;
    border-color: rgb(108,177,250);
    border-style: solid;
}

#play-again {
    border-radius: 10px;
    border-style: solid;
    border-color:rgb(250,152,125);
    font-family: chalkduster, fantasy;
    color: rgb(250,152,125);
    font-size: 15px;
    margin: 5px;
    padding: 5px;
}

#play-again:hover {
    color: rgb(108,177,250);
    font-size: 20px;
    border-color: rgb(108,177,250);
    border-style: solid;
}

#learning-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // width: 500px;
    width: 46%;
    font-family: chalkduster, fantasy;
    font-size: 10px;
    border-style: dotted;
    border-radius: 20px;
    border-width: 3px;
    border-color: rgb(250,152,125);
    
    

}

.learning-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 2px;
    margin: 2px;
    width: 140px;
}

.learning-container:hover p {
    color: rgb(108,177,250);
}

.learning-container:hover {
    border-style: solid;
    border-color: rgb(108,177,250);
    border-radius: 20px;
    border-width: 10px;
    color: rgb(108,177,250);
    
}

#learning-area img {
    width: 75px;
    height: 75px;
    margin: 0 auto;
}

#game-screen {
    display: flex;
    flex-direction: row;
}

#search-box {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 225px;
    margin-top: 200px;
    margin-left: 50px;
    border-style: solid;
    border-color: rgb(248, 141, 152);
    border-radius: 20px;
    border-width: 2px;
    padding: 5px;
}

// #search-box-image {

// }

#search-box-instructions {
    border: solid;
    border-radius: 10px;
    margin: 5px;
    border-color: rgb(108,177,250);
    padding: 5px;
    color: rgb(108,177,250);
    font-family: chalkduster, fantasy;
    font-size: 12px;
}

#search-box-image {
    margin: 5px;
    // height: fit-content;
    width: 145px;
    height: 145px;
}

p {
    size: 12;
    color: rgb(250,152,125);
    font-family: chalkduster, fantasy;
}

#controls {
    padding: 10px;
    margin: 10px;
    // color: rgb(250,152,125);
    color:#f297d2;
    font-family: chalkduster, fantasy;
    font-size: 10px;
    border-radius: 10px;
    // border-color: rgb(250,152,125);
    border-color: #f297d2;
    border-style: solid;
}

// #end-stats {
    
// }

#end-stats p {
    text-align: center;
    color: rgb(108,177,250);
}

#compost-bin {
    margin-top: 15px;
    margin-bottom: 15px;
}

#recycling-bin {
    margin-top: 15px;
    margin-bottom: 15px;
}

#landfill-bin {
    margin-top: 15px;
    margin-bottom: 15px;
}

#caution-bin {
    margin-top: 15px;
    margin-bottom: 15px;
}

li {
    
    size: 12px;
    font-family: chalkduster, fantasy;
}

.hidden {
    display: none;
}

#hidden {
    display: none;
}

.wrong-choice {
    color: rgb(166, 7, 7);
    font-size: 15px;
     list-style-type: "X ";
     text-decoration: line-through;
}

.right-choice {
    font-size: 15px;
    color: rgb(11, 121, 121);
    list-style-type: "\1F44D";
}

.modal {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 25%;
    right: 0;
    z-index: 200;
    width: 45%;
    height: 45%;
    border-radius: 15px;
    background-color: #f297d2;
    transform: translateX(100%); //this should keep it off-screen until the time is right
    transition: transform 0.3s ease-out;
}

.show {
    transform: translateX(-50%);
} 

.modal-image {
    margin: 10%;
    margin-left: 5%;
    margin-right: 2%;
    width: 50%;
    height: auto;
    z-index: 300;
    background-color: #f297d2;
}

.modal-blurb {
    background-color: rgb(1, 36, 21);
    border-radius: 15px;
    margin-right: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 8%;
    color: white;
    font-family: chalkduster, fantasy;
    font-weight: lighter;
    font-size: 14px;
    z-index: 300;
}

.backdrop {
    visibility: hidden; //we'll change this in showModal
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    top: 0;
    right: 0;
  }

  